.heading{
    font-size:25px;
    width:99%;
    margin: 1;
    color: blue;
    font-weight: bolder;
    box-shadow: 5px 5px 18px black;
    animation-name: heading;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    margin-top: 50px;
    border-width: 10px;
    border-style: ridge;
}
@keyframes heading{
    from {background-color :white;}
    to {background-color: wheat;}
}